.expense-list {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.expense-list select {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
}

#filter {
    display: flex;
    flex-direction: column;
    float: right;
}

