/* General styles for the sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #333; /* Darker shade for the background */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1000;
    color: #f67f00; /* Text color set to white */
    font-size: 16px; /* Larger font size for better readability */
}

/* Header style within the sidebar, such as welcome message or title */
.sidebar h5 {
    color: #f67f00;
    margin-bottom: 20px; /* Space below the header */
    letter-spacing: 3px;
    margin: 0 auto 0;
    font-weight: bold; /* Less emphasis on header weight */
}

/* Styling for links */
.sidebar a {
    color: #fff; /* White text color */
    text-decoration: none;
    padding: 10px;
    margin: 10px 0 0 10px; /* Space between links */
    display: flex; /* Align icons with text */
    align-items: center; /* Center items in a row */
    border-radius: 5px; /* Rounded corners for the link backgrounds */
}

/* Hover and active styles for links */
.sidebar a:hover, .sidebar a.active {
    background-color: #f67f00; /* Bootstrap's button warning color for highlight */
    font-weight:bold;
    color: #333; /* Dark text color on hover for contrast */
}

/* Icon styling */
.sidebar a i {
    margin-right: 10px; /* Space between icon and text */
}

/* Logout and other action styles */
.sidebar div {
    cursor: pointer;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.sidebar div:hover {
    background-color: #f67f00;
    color: #333;
}


.sidebar-logo img, .logo-link {
    display: block !important;  
    width: 100% !important;      
    margin: 0 auto 0 !important; 
    height: auto !important;   
}
