

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.App {
  display: grid;
  grid-template-rows: 60px auto; /* Height for the NavBar and the rest for content */
  grid-template-columns: 250px 1fr; /* Sidebar width of 250px and rest is for content */
  grid-template-areas:
      "header header"
      "sidebar main";
  height: 100vh;
  overflow: hidden;
}

.header {
  grid-area: header;
  background-color: #2C3E50; /* Dark blue background */
  color: #FFFFFF; /* White text color */
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1; /* Ensures the header is above other content if overlapping occurs */
}


.main-content {
  grid-area: main;
  overflow-y: auto; /* Allows vertical scrolling in the main content */
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
